@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');

:root {
  --primary-dark-text: rgba(18, 18, 18, 1);
  --primary-white-bg: rgba(255, 255, 255, 1);
  --primary-white-text: rgba(249, 249, 249, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  font-family: 'Lora', serif;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  height: 100%;
}

h2 {
  font-size: 2rem;
}


footer {
  margin-top: auto;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-dark-text);
}
